<%- include('./partials/header'); %> <%- include('./partials/navbar'); %>
<div class="container">
  <h3>Your favorites</h3>
  <div class="favorites-container"></div>
</div>

<%- include('./partials/footer'); %>
