<%- include('./partials/header'); %> <%- include('./partials/navbar'); %>
<div class="container">
  <h3>Your lists</h3>
  <div class="collection" id="lists-container"></div>
</div>

<%- include('./partials/footer'); %>
