<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="icon" type="image/png" href="/assets/logo.png" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="/css/globalapp.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />

    <title>Locate.ly</title>
  </head>
  <body class="grey lighten-3">
    <div
      class="col s3 all-products-list__template-hidden"
      id="product-card-item-template"
    >
      <div class="card large all-products-list__card sticky-action">
        <a
          class="
            all-products-list__card__action-button
            btn-floating
            halfway-fab
            waves-effect waves-light
            red
          "
          ><i class="material-icons">add</i></a
        >

        <div class="all-products-list__card__image card-image">
          <img loading="lazy" src="/images/sample-1.jpg" />
        </div>
        <div class="card-content">
          <a href="#">
            <span class="card-title">Card Title</span>
            <p class="description">
              I am a very simple card. I am good at containing small bits of
              information. I am convenient because I require little markup to
              use effectively.
            </p>
            <p class="store"></p>
          </a>
        </div>
        <div class="card-action">
          <span class="all-products-list__card__price">Price</span>
        </div>
      </div>
    </div>

    <div class="list-template-hidden" id="list-template">
      <a href="#!" class="collection-item">Alvin</a>
    </div>
  </body>
</html>
